/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.menuItem:hover{
    -fx-background-color: #146886;
    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 3px 0px;
}
/*.sidebarItem{
  -fx-background-color: #166846;  
}*/
.sidebarItem:hover{
    -fx-background-color: #146886;
    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 0px 3px;
}
.combo-box {
    -fx-background-color: transparent;
    -fx-border-color: #e67419;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-text-fill:  #ffffff;
}

.combo-box > .list-cell {
-fx-text-fill: white;
}